doctype html
html
  head
    title Example
  body
    if (!user)
      h1 Welcome!
      a(href="/login/line") Log In with LINE
    else
      h1 Hello, #{user.displayName}.
      h2 View your profile
      p Provider: #{user.provider}
      p ID: #{user.id}
      p Email: #{user.email || '---'}
      p Pictrue:
        img(src=user.pictureUrl width="100px")
    br
    br
    br
    <div class="line-it-button" data-lang="en" data-type="friend" data-lineid="@872twaqn" data-count="true" data-home="true" style="display: none;"></div>
    <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>