doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title#title Homepage
  // Bootstrap
  link(rel='stylesheet' href='/css/bootstrap.css')
  // Resource style
  link(rel='stylesheet' href='/css/style.css')
  // JQuery
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  // JavaScript Function
  script.
    $(document).ready(function(){
    $('#btnShow').click(function(){
    document.getElementById("divUser_Textbox").style.display = "block";
    document.getElementById("btnShow").style.display = "none";
    });
    });
.container
  table(style='width: 100%;')
    tr(style='background-color: #dee9f2; border: 1px solid #d8dfe5')
      td.text-center(style='border-right: 2px solid #d8dfe5; height:30px; width: 8%;')
        a(href='homepage')
          h5 Home
      td.text-center(style='border-right: 2px solid #d8dfe5; height:30px; width: 8%;')
        a(href='search_compare')
          h5 Search
      td.text-center(style='border-right: 2px solid #d8dfe5; height:30px; width: 15%;')
        a(href='category')
          h5 Shop by Category
      td.text-right(style='border-right: 1px solid #d8dfe5; height:30px; width: 0%;')

br
.container
  table(style='width: 100%;' border='0')
    tr
      td.text-left(style='width: 20%;')
        input#btnShow(type='button' style='background:transparent; border:none; color:transparent;' onclick='show_user_textbox();')
        #divUser_Textbox(style='display: none;')
          form.form-inline(action='/user_textbox' method='POST')
            .ui-widget
              b
                h(style='font-size: 16px;') User ID: &nbsp;
              input.txt.txt-default(size='10px;' name='user_textbox' type='text' value='103050')
              button.btn.btn-default(type='submit') Submit
      td(style='width: 40%;')
      td.text-right(style='width:25%;')
        form.form-inline(action='/user_dropdown' method='POST')
          .ui-widget
            b
              h(style='font-size: 16px;') Select User: &nbsp;
            select#ddlUser.selectpicker.form-control(name='user')
              option(103050='' value='103050') Beverage Lover
              option(74993='' value='74993') Snack Lover
              option(309189='' value='309189') Cooking Lover
              option(90604='' value='90604') Party Lover
              option(358491='' value='358491') Meat Lover
              option(51084='' value='51084') Pet Lover
              option(326483='' value='326483') Healthy Guy
              option(70057='' value='70057') Mom and Kids
              option(133646='' value='133646') Housewife
              option(145285='' value='145285') Beauty Care
            button.btn.btn-default(type='submit') Submit
br
.container(style='display: block; border-top: 3px solid #d8dfe5; padding-top: 10px;')
br
.container
  .text-left
    h99 Historical Purchase 
  br
  #Historical
    .col-sm-4.col-md-2.col-lg-2.col-xs-2
      .thumbnail(style='height: 290px;')
        a.text-center(href='/check?sku=8850999320021&img=https://backend.tops.co.th/media//catalog/product/8/8/8850999320021_e4-12-2018.jpg&name=Singha Drinking Water 1.5ltr. Pack 6&price=55.0' target='_blank')
          img#img1(src='https://backend.tops.co.th/media//catalog/product/8/8/8850999320021_e4-12-2018.jpg' style='width: auto; height: 160px;')
        .text-center(style='height: 60px;')
          h6#productName(style='padding-top: 5px; padding-left: 10px; padding-right: 10px;') Singha Drinking Water 1.5ltr. Pack 6 
        .text-center(style='height: 60px;')
          - var flag = false
          each val in items
            if val === 8850999320021
                flag = true
            
            if flag === true
                h6#productName(style='padding-top: 5px; padding-left: 10px; padding-right: 10px;') reserved!!
            else   
                h6#productName(style='padding-top: 5px; padding-left: 10px; padding-right: 10px;') reserve
            
        table(style='width: 100%;')
          tr
            td.text-left
              h6#productSKU(style='padding-left: 10px;')  SKU : 8850999320021 
            td.text-right
              h6#productScore(style='padding-right: 10px;') Price : 55.0 
            
    .col-sm-4.col-md-2.col-lg-2.col-xs-2
      .thumbnail(style='height: 290px;')
        a.text-center(href='/pdp?sku=8850329102112' target='_blank')
          img#img1(src='https://backend.tops.co.th/media//catalog/product/8/8/8850329102112_e26-08-2019.jpg' style='width: auto; height: 160px;')
        .text-center(style='height: 60px;')
          h6#productName(style='padding-top: 5px; padding-left: 10px; padding-right: 10px;') Meiji Pasteurized Milk Plain 2ltr. 
        table(style='width: 100%;')
          tr
            td.text-left
              h6#productSKU(style='padding-left: 10px;')  SKU : 8850329102112 
            td.text-right
              h6#productScore(style='padding-right: 10px;') Price : 91.75 
    .col-sm-4.col-md-2.col-lg-2.col-xs-2
      .thumbnail(style='height: 290px;')
        a.text-center(href='/pdp?sku=8851111401727' target='_blank')
          img#img1(src='https://backend.tops.co.th/media//catalog/product/8/8/8851111401727_e1.jpg' style='width: auto; height: 160px;')
        .text-center(style='height: 60px;')
          h6#productName(style='padding-top: 5px; padding-left: 10px; padding-right: 10px;') Mamy Poko Diaper Pants Boy Size XL 46pcs. 
        table(style='width: 100%;')
          tr
            td.text-left
              h6#productSKU(style='padding-left: 10px;')  SKU : 8851111401727 
            td.text-right
              h6#productScore(style='padding-right: 10px;') Price : 599.0 
    .col-sm-4.col-md-2.col-lg-2.col-xs-2
      .thumbnail(style='height: 290px;')
        a.text-center(href='/pdp?sku=8850388540078' target='_blank')
          img#img1(src='https://backend.tops.co.th/media//catalog/product/8/8/8850388540078.jpg' style='width: auto; height: 160px;')
        .text-center(style='height: 60px;')
          h6#productName(style='padding-top: 5px; padding-left: 10px; padding-right: 10px;') Unif Veggie Mixed Berry 100percent 200ml. Pack 3 
        table(style='width: 100%;')
          tr
            td.text-left
              h6#productSKU(style='padding-left: 10px;')  SKU : 8850388540078 
            td.text-right
              h6#productScore(style='padding-right: 10px;') Price : 47.0 
    .col-sm-4.col-md-2.col-lg-2.col-xs-2
      .thumbnail(style='height: 290px;')
        a.text-center(href='/pdp?sku=8853333010046' target='_blank')
          img#img1(src='https://backend.tops.co.th/media//catalog/product/8/8/8853333010046_1.jpg' style='width: auto; height: 160px;')
        .text-center(style='height: 60px;')
          h6#productName(style='padding-top: 5px; padding-left: 10px; padding-right: 10px;') Malee Orange Juice 200ml. Pack 3 
        table(style='width: 100%;')
          tr
            td.text-left
              h6#productSKU(style='padding-left: 10px;')  SKU : 8853333010046 
            td.text-right
              h6#productScore(style='padding-right: 10px;') Price : 49.0 
    .col-sm-4.col-md-2.col-lg-2.col-xs-2
      .thumbnail(style='height: 290px;')
        a.text-center(href='/pdp?sku=8851717040030' target='_blank')
          img#img1(src='https://backend.tops.co.th/media//catalog/product/8/8/8851717040030.jpg' style='width: auto; height: 160px;')
        .text-center(style='height: 60px;')
          h6#productName(style='padding-top: 5px; padding-left: 10px; padding-right: 10px;') Dutch Mill Drinking Yoghurt UHT Milk Mix Fruit 180ml. Pack 4 
        table(style='width: 100%;')
          tr
            td.text-left
              h6#productSKU(style='padding-left: 10px;')  SKU : 8851717040030 
            td.text-right
              h6#productScore(style='padding-right: 10px;') Price : 37.0 
    .col-sm-4.col-md-2.col-lg-2.col-xs-2
      .thumbnail(style='height: 290px;')
        a.text-center(href='/pdp?sku=8850388547534' target='_blank')
          img#img1(src='https://backend.tops.co.th/media//catalog/product/8/8/8850388547534.jpg' style='width: auto; height: 160px;')
        .text-center(style='height: 60px;')
          h6#productName(style='padding-top: 5px; padding-left: 10px; padding-right: 10px;') Unif Purple Carrot Mixed Vegetable and Fruit Juice 200ml. Pack3 
        table(style='width: 100%;')
          tr
            td.text-left
              h6#productSKU(style='padding-left: 10px;')  SKU : 8850388547534 
            td.text-right
              h6#productScore(style='padding-right: 10px;') Price : 47.0 
    .col-sm-4.col-md-2.col-lg-2.col-xs-2
      .thumbnail(style='height: 290px;')
        a.text-center(href='/pdp?sku=8850125087941' target='_blank')
          img#img1(src='https://backend.tops.co.th/media//catalog/product/8/8/8850125087941_e31-03-2019.jpg' style='width: auto; height: 160px;')
        .text-center(style='height: 60px;')
          h6#productName(style='padding-top: 5px; padding-left: 10px; padding-right: 10px;') Nestle Pure Life Water Buddy Avengers 0.33ltr. Pack 12 
        table(style='width: 100%;')
          tr
            td.text-left
              h6#productSKU(style='padding-left: 10px;')  SKU : 8850125087941 
            td.text-right
              h6#productScore(style='padding-right: 10px;') Price : 99.0 
    .col-sm-4.col-md-2.col-lg-2.col-xs-2
      .thumbnail(style='height: 290px;')
        a.text-center(href='/pdp?sku=8851959232057' target='_blank')
          img#img1(src='https://backend.tops.co.th/media//catalog/product/8/8/8851959232057.jpg' style='width: auto; height: 160px;')
        .text-center(style='height: 60px;')
          h6#productName(style='padding-top: 5px; padding-left: 10px; padding-right: 10px;') Coke Light 325ml. Pack 24 
        table(style='width: 100%;')
          tr
            td.text-left
              h6#productSKU(style='padding-left: 10px;')  SKU : 8851959232057 
            td.text-right
              h6#productScore(style='padding-right: 10px;') Price : 267.0 
    .col-sm-4.col-md-2.col-lg-2.col-xs-2
      .thumbnail(style='height: 290px;')
        a.text-center(href='/pdp?sku=8850393800433' target='_blank')
          img#img1(src='https://backend.tops.co.th/media//catalog/product/8/8/8850393800433.jpg' style='width: auto; height: 160px;')
        .text-center(style='height: 60px;')
          h6#productName(style='padding-top: 5px; padding-left: 10px; padding-right: 10px;') Betagen Light 0 Fat Drinking Yoghurt 140cc. Pack 4 
        table(style='width: 100%;')
          tr
            td.text-left
              h6#productSKU(style='padding-left: 10px;')  SKU : 8850393800433 
            td.text-right
              h6#productScore(style='padding-right: 10px;') Price : 39.0 
    .col-sm-4.col-md-2.col-lg-2.col-xs-2
      .thumbnail(style='height: 290px;')
        a.text-center(href='/pdp?sku=8851818380943' target='_blank')
          img#img1(src='https://backend.tops.co.th/media//catalog/product/8/8/8851818380943.jpg' style='width: auto; height: 160px;')
        .text-center(style='height: 60px;')
          h6#productName(style='padding-top: 5px; padding-left: 10px; padding-right: 10px;') Magiclean Kitchen Liquid Cleaner 500ml.Refill 
        table(style='width: 100%;')
          tr
            td.text-left
              h6#productSKU(style='padding-left: 10px;')  SKU : 8851818380943 
            td.text-right
              h6#productScore(style='padding-right: 10px;') Price : 55.0 
    .col-sm-4.col-md-2.col-lg-2.col-xs-2
      .thumbnail(style='height: 290px;')
        a.text-center(href='/pdp?sku=8851717040023' target='_blank')
          img#img1(src='https://backend.tops.co.th/media//catalog/product/8/8/8851717040023.jpg' style='width: auto; height: 160px;')
        .text-center(style='height: 60px;')
          h6#productName(style='padding-top: 5px; padding-left: 10px; padding-right: 10px;') Dutch Mill Drinking Yoghurt UHT Milk Orange 180ml. Pack 4 
        table(style='width: 100%;')
          tr
            td.text-left
              h6#productSKU(style='padding-left: 10px;')  SKU : 8851717040023 
            td.text-right
              h6#productScore(style='padding-right: 10px;') Price : 37.0 
br
#scrollToBottom
