


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Cover Template · Bootstrap</title>

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Owl Carousel min css -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="css/custom.css">


    <!-- Modernizr JS -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">monitor</h3>
      </nav>
    </div>
  </header>
  <!-- transaction : "U02be89b0bbfa25928afca21602573828:325235326",
  user: "U02be89b0bbfa25928afca21602573828",
  sku: "47495067",
  image: "/0/8/0849136006070.jpg",
  status: "reserve" -->
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Information</h1>
    <div class="container">
    <!-- <table class="table">
            <thead>
              <tr>
                <th scope="col">store</th>
              </tr>
            </thead>
            <tbody> -->
            {% for shop in shops -%}
            
            <div class="col-md-6">
              <table class="table">
                <tr>
                  <th scope="row">{{shop.store}}</th>
                  <td>
                      <tr>
                          <td scope="col">sku</td>
                          <td scope="col">image</td> 
                          <td scope="col">name</td>
                          <td scope="col">stock</td> 
                      </tr>
                      {% for item in shop.items -%}
                      {% if item.stock == 0 %}
                       <tr style="background:#DEB887">
                      {% else %}
                      <tr>
                      {% endif %}
                          <td scope="col">{{item.sku}}</td>
                          <td scope="col"><img src="https://backend.tops.co.th/media/catalog/product/{{item.image}}" alt="product images" width="50" height="50"></td> 
                          <td scope="col">{{item.name_th}}</td> 
                          <td scope="col">{{item.stock}}</td> 
                          
                      </tr>
                      {% endfor %}
                  </td>
                </tr>
              </table>
            </div>
            {% endfor %}
        </div>
            <!-- </tbody>
          </table>
        </div>
          <div class="container">
              <div class="row mb-2">
                  <div class="col-md-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">World</strong>
                        <h3 class="mb-0">Featured post</h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                      </div>
                      <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Design</strong>
                        <h3 class="mb-0">Post title</h3>
                        <div class="mb-1 text-muted">Nov 11</div>
                        <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                      </div>
                      <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
             -->
             
  </main>

  <footer class="mastfoot mt-auto">
    <!-- <div class="inner">
      <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div> -->
  </footer>
</div>
</body>
</html>

</html>
