<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hackathon - Central Assistance</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="images/pumpkin.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Owl Carousel min css -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- Modernizr JS -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <!-- Body main wrapper start -->
    <div class="wrapper">
        <!-- Start Category Area -->
        <section class="htc__category__area ptb--30">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section__title--2 text-center">
                            <h2 class="title__line">Products</h2>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="htc__product__container">
                    <div class="row">
                        <div class="product__list clearfix mt--30">
                            {% for item in items -%}
                            <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                                    {% if item.stock == 0 %}
                                    <div class="category outofstock">
                                    {% else %}
                                    <div class="category">
                                    {% endif %}
                                        <div class="ht__cat__thumb">
                                            <a href="#">
                                                <img src="https://backend.tops.co.th/media/catalog/product/{{item.image}}" >
                                            </a>
                                        </div>
                                        {% if item.stock == 0 %}
                                        <div class="fr__hover__info">
                                            <ul class="product__action">
                                                <li><a href="/check?sku={{item.sku}}&amp;img=https://backend.tops.co.th/media/catalog/product/{{item.image}}&amp;name={{item.name_th}}&amp;price={{item.price}}" style="color:white">Want it!</a></li>
                                            </ul>
                                        </div>
                                        {% endif %}
                                        <div class="fr__product__inner">
                                            <h4><a href="#">{{ item.name_th | replace("^(.{25,25})(.*)", "$1") }}..</a></h4>
                                            <ul class="fr__pro__prize">
                                                <li>{{item.price}}.00 Bath</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Category -->
                            <!-- Start Single Category -->
                            <!-- <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                                {% if item.stock == 0 %}
                                <div class="category outofstock">
                                {% else %}
                                <div class="category">
                                {% endif %}
                                    <div class="ht__cat__thumb rounded-lg" style="padding: 20px;background-color: white; border-radius: 10px;">
                                        <a href="product-details.html">
                                                <div class="ps-badge"><span>New</span></div>
                                                <div class="ps-badge ps-badge--sale ps-badge--2nd"><span>-35%</span></div>
                                            <img src="https://backend.tops.co.th/media/catalog/product/{{item.image}}" alt="product images">
                                        </a>
                                    </div>
                                    {% if item.stock == 0 %}
                                    <div class="fr__hover__info">
                                        <ul class="product__action">
                                            <li><a href="/check?sku={{item.sku}}&amp;img=https://backend.tops.co.th/media/catalog/product/{{item.image}}&amp;name={{item.name_th}}&amp;price={{item.name_th}}" style="color:white">Want it!</a></li>
                                        </ul>
                                    </div>
                                    {% endif %}
                                    <div class="fr__product__inner">
                                        <h4 style="color: white;">{{ item.name_th | replace("^(.{25,25})(.*)", "$1") }}..</h4>
                                        <h4 style="color: white;padding-top: 10px;padding-bottom: 10px;">{{item.price}}.00 Bath</h4>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                                <div class="category">
                                    <div class="ht__cat__thumb rounded-lg" style="padding: 20px;background-color: white; border-radius: 10px;">
                                        {% if item.stock == 0 %}
                                        <div class="ps-badge ps-badge--sale ps-badge--2nd"><span>Out Of Stock</span></div>
                                        {% else %}
                                        <div class="ps-badge"><span>Stock Full</span></div>
                                        {% endif %}
                                        
                                        <img src="https://backend.tops.co.th/media/catalog/product/{{item.image}}" alt="product images">
                                    </div>
                                   
                                    <div class="fr__product__inner">
                                        <h4 style="color: white;">{{ item.name_th | replace("^(.{25,25})(.*)", "$1") }}..</h4>
                                        <h4 style="color: white;padding-top: 10px;padding-bottom: 10px;">{{item.price}}.00 Bath</h4>
                                    </div>
                                </div>
                            </div> -->
                                <!-- <div class="ps-section__content pb-50">
                                    <div class="masonry-wrapper" data-col-md="4" data-col-sm="2" data-col-xs="1" data-gap="30" data-radio="100%">
                                        <div class="ps-masonry">
                                            <div class="grid-sizer"></div>

                                            <div class="grid-item">
                                                <div class="grid-item__content-wrapper">
                                                    <div class="ps-shoe mb-30">
                                                        <div class="ps-shoe__thumbnail">
                                                            <div class="ps-badge"><span>New</span></div>
                                                            <div class="ps-badge ps-badge--sale ps-badge--2nd"><span>-35%</span></div>
                                                            
                                                            <img src="https://backend.tops.co.th/media/catalog/product/{{item.image}}" alt="">

                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            <!-- End Single Category -->
                            {%- endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Category Area -->
        <footer id="htc__footer">
            <!-- Start Footer Widget -->
            <div class="footer__container bg__cat--1">
                <div class="container">
                    <div class="row">
                        
                    </div>
                </div>
            </div>
            <!-- End Footer Widget -->
        </footer>
        <!-- End Footer Style -->
    </div>
    <!-- Body main wrapper end -->

    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="js/plugins.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <!-- Waypoints.min.js. -->
    <script src="js/waypoints.min.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="js/main.js"></script>

</body>

</html>