<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title id="title">Homepage</title>
    <!-- Bootstrap-->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Resource style-->
    <link rel="stylesheet" href="/css/style.css">
    <!-- JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- JavaScript Function-->
    <script>
        $(document).ready(function() {
            $('#btnShow').click(function() {
                document.getElementById("divUser_Textbox").style.display = "block";
                document.getElementById("btnShow").style.display = "none";
            });
        });
    </script>
</head>
<div class="container">
    <table style="width: 100%;">
        <tr style="background-color: #dee9f2; border: 1px solid #d8dfe5;">
            <td class="text-center" style="border-right: 2px solid #d8dfe5; height:30px; width: 8%;">
                <a href="homepage">
                    <h5>Home</h5>
                </a>
            </td>
            <td class="text-right" style="border-right: 1px solid #d8dfe5; height:30px; width: 0%;"></td>
        </tr>
    </table>
</div><br>
<div class="container">
    <table style="width: 100%;" border="0">
        <tr>
            <td class="text-right" style="width:25%;">
                <form class="form-inline" action="/user_dropdown" method="POST">
                    <div class="ui-widget"><b><h style="font-size: 16px;">Search item: &nbsp;</h></b><select class="selectpicker form-control" id="ddlUser" name="user"><option 103050="" value="103050">Beverage Lover</option><option 74993="" value="74993">Snack Lover</option><option 309189="" value="309189">Cooking Lover</option><option 90604="" value="90604">Party Lover</option><option 358491="" value="358491">Meat Lover</option><option 51084="" value="51084">Pet Lover</option><option 326483="" value="326483">Healthy Guy</option><option 70057="" value="70057">Mom and Kids</option><option 133646="" value="133646">Housewife</option><option 145285="" value="145285">Beauty Care</option></select>
                        <button
                            class="btn btn-default" type="submit">Submit</button>
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div><br>
<div class="container" style="display: block; border-top: 3px solid #d8dfe5; padding-top: 10px;"></div><br>
<div class="container">
    <div class="text-left">
        <h99>Item list </h99>
    </div><br>
    <div id="Historical">
        {% for item in items -%}
        <div class="" style="height: auto">
            <div class="thumbnail" style="height: 290px;"><img id="img1" src="https://backend.tops.co.th/media/catalog/product/{{item.image}}" style="width: auto; height: 160px;">
                <div class="text-center" style="height: 60px;">
                    <h6 id="productName" style="padding-top: 5px; padding-left: 10px; padding-right: 10px;">{{item.name_th}}</h6>
            </div>
            <div class="text-center" style="height: 60px;">
                <button type="button" class="btn btn-success" style="padding-top: 5px; padding-left: 10px; padding-right: 10px;"> 
                    <a class="text-center" href="/check?sku={{item.sku}}&amp;img=https://backend.tops.co.th/media/catalog/product/{{item.image}}&amp;name={{item.name_th}}&amp;price={{item.name_th}}">reserve</a></button>
            </div>
        </div>
        {%- endfor %}
    </div>
</div>
</div><br>
<div id="scrollToBottom"></div>