


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Cover Template · Bootstrap</title>

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Owl Carousel min css -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="css/custom.css">


    <!-- Modernizr JS -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">monitor</h3>
      </nav>
    </div>
  </header>
  <!-- transaction : "U02be89b0bbfa25928afca21602573828:325235326",
  user: "U02be89b0bbfa25928afca21602573828",
  sku: "47495067",
  image: "/0/8/0849136006070.jpg",
  status: "reserve" -->
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Information</h1>
    <table class="table">
            <thead>
              <tr>
                <th scope="col">transaction</th>
                <th scope="col">image</th>
                <th scope="col">user</th>
                <th scope="col">sku</th>
                <th scope="col">status</th>
              </tr>
            </thead>
            <tbody>
            {% for item in items -%}
              <tr>
                <th scope="row">{{item.transaction}}</th>
                <td><img src="{{item.image}}" alt="product images" width="100" height="100"></td>
                <td>{{item.user}}</td>
                <td>{{item.sku}}</td>
                <td>{{item.status}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
  </main>

  <footer class="mastfoot mt-auto">
    <!-- <div class="inner">
      <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div> -->
  </footer>
</div>
</body>
</html>

</html>
